---
import CardHorizontal from "../Conference.astro";
import SectionTitle from "../SectionTitle.astro";
import CONFERENCES from '../../constants/conferences';
---

<section id="conferences" class="max-w-7xl mx-auto my-20 px-6">
	<SectionTitle>Ponencias</SectionTitle>
	<div class="flex flex-col gap-6 mt-4">
		{
			CONFERENCES.map((conference, index: any) => (
				<CardHorizontal
					key={index}
					title={conference.title}
					description={conference.description}
					image={conference.image}
					date={conference.date}
					time={conference.time}
					author={conference.speaker}
					author_img={conference.speaker_img}
				/>
			))
		}
	</div>
</section>
