---
const id = 1

const SPEAKERS = [
    {
        name: 'David',
        src: '/img/speakers/david',
        alt: 'David',
    },
    {
        name: 'Jose Gabriel',
        src: '/img/speakers/jose_gabriel',
        alt: 'Jose Gabriel',
    }, 
    {
        name: 'Domingo',
        src: '/img/speakers/domingo',
        alt: 'Domingo',
    }
]

const speaker = SPEAKERS[id]
---


<div>
    <div
        id={`${id}`}
        role='tooltip'
        class='absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700'
    >
        {speaker.name}
        <div class='tooltip-arrow' data-popper-arrow></div>
    </div>
    <img data-tooltip-target={id} class='w-10 h-10 rounded' src={speaker.src} alt={speaker.alt} />
</div>