---
import Layout from "../../layouts/Layout.astro";
import IconFacebook from "../../components/icons/IconFacebook.astro";
import IconInstagram from "../../components/icons/IconInstagram.astro";
import IconYoutube from "../../components/icons/IconYoutube.astro";
import IconEmail from "../../components/icons/IconEmail.astro";

const {
    PUBLIC_FACEBOOK_URL,
    PUBLIC_INSTAGRAM_URL,
    PUBLIC_EMAIL,
    PUBLIC_GOOGLE_FORM_URL,
} = import.meta.env;

const links = [
   
    {
        title: "Formulario de inscripción 2026",
        href: PUBLIC_GOOGLE_FORM_URL,
        img: "/img/escudo_light.webp",
        external: true,
        description: "Inscripción para nuevos hermanos y actualización de hermanos para el año 2026.",
        isNew: true,
    },
    {
        title: "Ciclo de Conferencias 75 aniversario - 2024",
        href: "/eventos/ciclo-conferencias",
        img: "/img/og-image-conferencias.jpg",
        external: false,
        description: "Ciclo de Conferencias con motivo del 75 aniversario de la hechura de Nuestro Padre Jesús en su Santo Sepulcro.",
        isNew: false
    }, 
];

const rrss = [
    {
        title: "Facebook",
        href: PUBLIC_FACEBOOK_URL,
        icon: IconFacebook,
        external: true,
    },
    {
        title: "Instagram",
        href: PUBLIC_INSTAGRAM_URL,
        icon: IconInstagram,
        external: true,
    },
    // {
    //     title: "YouTube",
    //     href: "https://www.youtube.com/channel/UCX9z5Z5Z5Z5Z5Z5Z5Z5Z",
    //     icon: IconYoutube,
    //     external: true,
    // },
    {
        title: "Email",
        href: `mailto:${PUBLIC_EMAIL}`,
        icon: IconEmail,
        external: true,
    },
];
---
<script>
    
</script>

<Layout 
    title="Links - Cofradía del Santo Sepulcro y Nuestra Señora de los Dolores Motril" 
    description="En esta sección encontrarás enlaces relacionados con la Cofradía del Santo Sepulcro y Nuestra Señora de los Dolores de Motril, incluyendo recursos útiles, sitios web de interés y redes sociales para mantenerte informado sobre nuestras actividades y eventos."
    keywords="enlaces, links, recursos, redes sociales, información, eventos, actividades, Cofradía del Santo Sepulcro y Nuestra Señora de los Dolores Motril"
	path="/links"
	image=""
    header
>
    <main class="mx-auto max-w-6xl px-4 py-10 sm:px-6 lg:px-8 lg:py-1 mt-32">
        <h1 class="text-4xl font-bold tracking-tight text-brand-red font-garamond uppercase sm:text-4xl text-center">Enlaces</h1>
        <ul class=" mt-8 grid grid-cols-1 gap-4 sm:gap-6 lg:grid-cols-2">
            {links.map((link) => {
                return (
                    <li class="h-full">
                        <article class="h-full">
                            <a
                                class="group flex h-full items-center gap-4 rounded-2xl border border-brand-black/10 px-4 py-2 shadow-sm bg-brand-pearl/80 dark:bg-brand-black/50 group-hover:bg-brand-red/15 dark:group-hover:bg-brand-red/40 transition hover:scale-105 bg-gradient-to-r from-brand-black/10 via-transparent to-transparent dark:from-brand-pearl/20 hover:via-brand-black/5 dark:hover:via-brand-pearl/10"
                                href={link.href}
                                target={link.external ? "_blank" : undefined}
                                rel={link.external ? "noopener" : undefined}
                            >
                                <div class="flex h-14 w-14 shrink-0 items-center justify-center overflow-hidden rounded-xl border border-brand-black/10 dark:bg-brand-pearl/50 bg-brand-pearl text-brand-black/80 dark:border-brand-pearl/20 dark:text-brand-pearl/80">
                                    <img
                                        src={link.img}
                                        alt={link.title}
                                        loading="lazy"
                                        class="h-full w-full object-cover"
                                    />
                                </div>
                                <div class="flex-1 h-full flex flex-col items-start">
                                    <div class="w-full flex flex-row justify-start items-center">

                                        <h3 class="  text-lg font-medium text-brand-black group-hover:text-brand-black dark:text-brand-white dark:group-hover:text-brand-pearl">
                                            {link.title}
                                        </h3>
                                        {link.isNew && (
                                            <span class="ml-2 h-fit inline-flex items-center rounded-xl  bg-brand-red/80 px-2 py-1 text-[0.5rem] font-medium text-white">
                                                NUEVO
                                            </span>
                                        )}
                                    </div>
                                    <p class="mt-1 text-xs text-brand-black/60 dark:text-brand-pearl/80 text-pretty">
                                        {link.description}
                                    </p>
                                </div>
                            </a>
                        </article>
                    </li>
                );
            })}
            <li class="flex flex-row justify-around col-span-full p-4 mt-4">

                {rrss.map((link) => {
                    const Icon = link.icon;
                    return (
                        <a
                            class="group flex items-center gap-4"
                            href={link.href}
                            target="_blank"
                            rel="noopener"
                            >
                                <span class="flex flex-col justify-between items-center hover:scale-110 transition-transform duration-300 h-20">
                                    <Icon size="42" title={link.title} />
                                    <span class="text-sm text-brand-black/60 group-hover:text-brand-black/80 dark:text-brand-pearl/70 dark:group-hover:text-brand-pearl">{link.title}</span>
                                </span>
                        </a>    
                    );
                })}
            </li>
        </ul>
    </main>
</Layout>
