---
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'

interface Props {
	title: string;
	description: string;
	keywords: string;
	image?: string;
	path?: string;
	footer?: boolean;
	header?: boolean;
}

const { title, description, image, keywords, footer=true, header=true } = Astro.props;
const {href: url} = Astro.url

---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width" />
		<meta name="keywords" content={keywords} />
		<meta name="description" content={description} />

    	<!-- Favicon -->
		<link rel="icon" type="image/webp" href="/img/escudo.webp">
		<link rel="alternate icon" type="image/png" href="/img/escudo.png">
		
    	<!-- Author -->
		<meta name="author" content="Fenrig Dev" />

    	<!-- Open Graph (Facebook, LinkedIn, etc.) -->
		<meta property="og:url" content={url}>
		<meta property="og:type" content="website">
		<meta property="og:title" content={title}>
		<meta property="og:description" content={description}>
		<meta property="og:image" content={image}>
		
		<!-- Twitter Card -->
		<meta name="twitter:card" content="summary_large_image">
		<meta property="twitter:url" content={url}>
		<meta name="twitter:title" content={title}>
		<meta name="twitter:description" content={description}>
		<meta name="twitter:image" content={image}>

		<meta name="robots" content="noindex nofollow">

		<title>{title}</title>

		<link
      		rel="preload"
			href="/fonts/roman_sd.ttf"
			as="font"
			type="font/ttf"
			crossorigin
		/>
		<script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"></script>
	</head>
	<body>
		{header && <Header />}
		<slot />
		{footer && <Footer />}
	</body>
</html>

<style is:global>
	:root {
        color-scheme: dark;
		--color-light: rgb(254, 254, 254);
		--color-dark: rgb(24, 24, 33);
		--color-red: rgb(207, 31, 33);
	}
	@font-face {
		font-family: 'Roman SD';
		src: url('/fonts/roman_sd.ttf') format('truetype');
		font-weight: 400;
		font-style: normal;
	}
	html {
		color: var(--color-light);
		font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		background: var(--color-dark);
	}
	body {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		width: 100vw;
		/* height: 100vh; */
		/* overflow: hidden; */
		overflow-x: hidden;
		/* height: 1500px; */
		display: ;
	}
	
      
	::-webkit-scrollbar {
        width: 8px;
		background: transparent;
	}
	::-webkit-scrollbar-track {
		margin-top: 100px;
		background: transparent;
		backdrop-filter: blur(10px);
		border-radius: 5px;

	}
	::-webkit-scrollbar-thumb {
		background: rgba(255, 255, 255, 0.3);
		backdrop-filter: blur(10px);
		border-radius: 5px;
	}
	::-webkit-scrollbar-thumb:hover {
		background: rgba(255, 255, 255, 0.5);
	}

</style>
